/* General css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* ===Vision Page=== */

/* Landing Contents */
#landing {
    background-image: url(../images/vision-bg.jpg);
    background-size: cover;
    min-height: 600px;
    width: auto;
}

#landing-contents {
    text-align: left;
}

#landing-contents-h5 {
    color: #fff;
    font-weight: lighter;
}

#landing-contents-h3 {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: justify;
}

/* Vision Contents */
#vision-content-a {
    text-decoration: none;
}

#vision-content-h2 {
    font-weight: bold;
}

#vision-content-p {
    font-weight: 400;
}

#service-card {
    box-shadow: 0 0 10px 0 rgba(64, 64, 64, 0.2);
}

/* Parellax Section */
#parallax {
    background-image: url(../images/parellax-bg.jpg);
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-h3 {
    color: #fff;
}

/* Content Section */
#content-subcontent-p {
    text-align: justify;
}


/* ===Learning Page=== */

/* Vision Contents */
#learn-content-a {
    text-decoration: none;
}

#learn-content-h2 {
    font-weight: bold;
}

#learn-content-p {
    font-weight: bold;
}

#learn-content-span {
    font-size: 0.9em;
    font-weight: lighter;
}

/* Landing Contents */
#learn-landing {
    background-image: url(../images/learn-bg.jpg);
    background-size: cover;
    min-height: 600px;
}

#learn-landing-contents {
    text-align: left;
}

#learn-landing-contents-h5 {
    color: #fff;
    font-weight: lighter;
}

#learn-landing-contents-h3 {
    color: #fff;
    font-weight: normal;
    font-size: 1.5em;
    text-align: justify;
}

/* ===API Dvelopment Page */

#api-card-p {
    text-align: justify;
}